<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UserProfileImageUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <UserProfileImageUpdater.Properties.Settings>
      <setting name="SPOUsername" serializeAs="String">
        <value>svc_userprofileupdater@mydomain.com</value>
      </setting>
      <setting name="ProfileImageInterval" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="ImageProfilePath" serializeAs="String">
        <value>C:\temp\images</value>
      </setting>
      <setting name="ProfileSiteUrl" serializeAs="String">
        <value>https://mydomain-admin.sharepoint.com/</value>
      </setting>
      <setting name="MySiteUrl" serializeAs="String">
        <value>https://mydomain-my.sharepoint.com</value>
      </setting>
      <setting name="SmallImageSize" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="MediumImageSize" serializeAs="String">
        <value>72</value>
      </setting>
      <setting name="LargeImageSize" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SPOEncryptedPassword" serializeAs="String">
        <value>ENTER ENCRYPTED PASSWORD HERE</value>
      </setting>
      <setting name="LoggingLevel" serializeAs="String">
        <value>Verbose</value>
      </setting>
      <setting name="ProfileImageModDates" serializeAs="String">
        <value>C:\temp\images\_doNotDelete_fModDates.json</value>
      </setting>
      <setting name="SPOProfilePhotoPath" serializeAs="String">
        <value>/User Photos/Profile Pictures</value>
      </setting>
      <setting name="EventLogName" serializeAs="String">
        <value>Application</value>
      </setting>
      <setting name="EventLogSource" serializeAs="String">
        <value>UserProfileImageUpdaterService</value>
      </setting>
      <setting name="UserProfileUpdater_UPSvc_UserProfileService" serializeAs="String">
        <value>https://mydomain-admin.sharepoint.com/_vti_bin/userprofileservice.asmx</value>
      </setting>
      <setting name="ExchangeOnlinePSConnectionUri" serializeAs="String">
        <value>https://outlook.office365.com/powershell-liveid/?proxyMethod=RPS</value>
      </setting>
      <setting name="EncryptionSalt" serializeAs="String">
        <value>EncryptionSaltStringHere</value>
      </setting>
      <setting name="O365AccountEmailSuffix" serializeAs="String">
        <value>@mydomain.com</value>
      </setting>
      <setting name="O365AccountEmailSuffixFilenameSafe" serializeAs="String">
        <value>_mydomain_com</value>
      </setting>
    </UserProfileImageUpdater.Properties.Settings>
  </applicationSettings>
</configuration>